@model QuoteBotWeb.Models.Quotes.EditViewModel
@{ 
    var renameUrl = $"/Guild/{Model.Server}/Quotes/{Model.NamedAudio.AudioOwner.Id}/Rename";
}
<div>
    @Model.NamedAudio.AudioOwner.Name
    <form method="post" action="@renameUrl">
        <input type="text" name="name" value="@Model.NamedAudio.AudioOwner.Name" />
        <input type="hidden" name="quoteId" value="@Model.NamedAudio.AudioOwner.Id" />
        <input type="submit" class="btn btn-primary" value="Rename" />
    </form>
</div>
<h1>Categories</h1>
@foreach (var category in Model.InCategories)
{
    var redirectUri = $"/AudioCategory/Delete?audio={Model.NamedAudio.AudioOwner.Id}&category={category.Id}&redirect=/Guild/{Model.Server}/Quotes/{Model.Quote}";
    <div>
        <span>@category.Name</span>
        <a class="btn btn-danger" href="@redirectUri">Remove</a>
    </div>
}

@foreach (var category in Model.NotInCategories)
{
    var redirectUri = $"/AudioCategory/Create?audio={Model.NamedAudio.AudioOwner.Id}&category={category.Id}&redirect=/Guild/{Model.Server}/Quotes/{Model.Quote}";

    <div>
        <span>@category.Name</span>
        <a class="btn btn-success" href="@redirectUri">Add</a>
    </div>
}